
div#topmenu {
    border: 0px;
}

ul#filterbar_container {
    border: 0px;
}

div#torrentlist_container {
    top: 58px;
}

div#history {
    height: 256px;
}

div#hideSearch input {
    border-top: 1px solid #979797;
}

div#linkButtons  {
    margin-bottom: 5px !important;
}
