
div#topmenu {
    border: 0px;
}

ul#filterbar_container {
    border: 0px;
}

div#torrentlist_container {
    top: 58px;
}

div#history {
    height: 256px;
}

ul#configTabs li {
    width: 100%;
}

ul#configTabs li {
    float: right;
    border-bottom: 1px solid #979797;
}

ul#configTabs li.selTab {
    border-bottom: 0px;
}

div.config_form {
    border-top: 0px;
}

div#config_feeds {
    border-top: 0px;
}

div#config_hideList {
    border-top: 0px;
}
