/*---------------------
 * Some debugging info
 * --------------------*/
div.rss_debug {
    display: none;
}

/*-----------------
 *
 * G L O B A L
 *
 * ---------------*/
html {
    overflow: hidden;
}

body {
    font: 85% "lucida grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: #323232 !important;
    text-align: left;
    overflow: hidden;
    height: 100%;
    }

input, select {
    margin-left: 2em;
}

select {
    border: 1px solid #787878;
}

input[type=text] {
    border: 1px solid #787878;
    margin-left: 2em;
    }

input[type=password] {
    border: 1px solid #787878;
    margin-left: 2em;
    }

input[type=hidden] {
    display: none;
}
    
input[type=checkbox] {
    margin-top: 2px;
}

label {
    display: inline;
    font-size: 0.9em;
    margin-left: 1em;
    }

label.category {
    display: block;
    font-size: 1.0em;
    margin: 1em 0 1em 1em;
    font-weight: bold;
    }

.hidden {
    display: none;
    }
    
/*-----------------
 *
 * T O P   M E N U
 *
 * ----------------*/
ul.mainoptions {
    position:		relative;
    background: #ddd;
    width: 100%;
    height: 30px;
    z-index: 		3;
}

ul.mainoptions li {
    list-style:		none inside none;
    display:		block;
    float: 		left;
    padding-top: 	5px;
    margin-right: 	10px;
}

ul.mainoptions li a {
	display:	block;
	margin:		0px 0px 0px 10px;
	padding:	3px 3px 3px 3px;
	height:		16px;
	text-decoration:	none;
	color:		#000;
	font-size:	8pt;
	border:		1px solid #ddd;
	border-radius:	5px;
        -moz-border-radius: 5px;
}

ul.mainoptions li#legend {
    float: right;
}

ul.mainoptions li#report {
    float: right;
}

ul.mainoptions li#webui {
    display: none;
    float: right;
}

ul.mainoptions li a {
    color: #030303;
    font-size: 0.8em;
    text-decoration: none;
    padding: 2px 5px;
    display: block;
}

ul.mainoptions li a:hover {
   background-color: 	#eee;
   border:		1px solid #ccc;
}

ul.mainoptions li a.selected {
   background-color: 	#fff;
   border:		1px solid #ccc;
}

ul.mainoptions li a .icon {
	display:			block;
	height:				16px;
	width:				16px;
	margin-right:			2px;
	background-image:		url(../images/buttons_16x16.png);
	background-repeat:		no-repeat;
	float:				left;
}

ul.mainoptions li#favoritesMenu a .icon { background-position: 0px 0px; }
ul.mainoptions li#config a .icon { background-position: 0px -16px; }
ul.mainoptions li#view a .icon { background-position: 0px -32px; }
ul.mainoptions li#empty a .icon { background-position: 0px -48px; }
ul.mainoptions li#report a .icon { background-position: 0px -64px; }
ul.mainoptions li#legend a .icon { background-position: 0px -80px; }
ul.mainoptions li#webui a .icon{
	 background-image: url(../images/webui.png);
}

/*-----------------
 *
 * F I L T E R   B A R
 *
 * ---------------*/

ul#filterbar_container {
    position: fixed;
    background: #ddd;
    border-bottom: 1px solid #979797;
    height: 22px;
    right: 0;
    left: 0;
    padding-left: 10px;
}

ul#filterbar_container li {
    float: left;
    padding: 0.3em 1em 0 1em;
    vertical-align: middle;
    border-top: 1px solid #979797;
    border-right: 1px solid #979797;
    height: 18px;
    text-align: center;
    font-size: 0.8em;
    background: #ccc;
    color: #4E4E4F;
}

ul#filterbar_container li.tab {
    width: 80px;
}

ul#filterbar_container li#filter_all {
    border-left:		1px solid #979797;
    border-top-left-radius: 	5px;
    -moz-border-radius-topleft: 5px;
}
 
ul#filterbar_container li#filter_transmission {
    border-top-right-radius:	5px;
    -moz-border-radius-topright: 5px;
}

ul#filterbar_container li a {
    padding-right: 0.5em;
    text-decoration: none;
    color: #333;
}

ul#filterbar_container li:hover a,
ul#filterbar_container li.selected a {
    color: #FFF;
}

ul#filterbar_container li:hover {
    background: #9DACC1;
    opacity: .60;
    filter: alpha(opacity = 60);
    height: 18px;
}

ul#filterbar_container li.selected {
    background: #9DACC1;
    height: 18px;
    opacity: 1;
}

ul#filterbar_container li#rates:hover,
ul#filterbar_container li#rates {
    background: none;
    margin-left: 5px;
    padding: 0;
    border: 0;
    float: left;
    font-size: 9px;
    text-align: left;
    opacity: 1;
}

ul#filterbar_container li#filter_bytext:hover,
ul#filterbar_container li#filter_bytext {
    background: none;
    float: right;
    margin: 0;
    padding: 2px 10px 0 0;
    border: 0;
    font-size: 0.8em;
    opacity: 1;
}

input#filter_text_input {
    height: 13px; 
    width: 8em; 
    border: 1px solid #5D80A1; 
    padding: 0px 5px 2px 15px;
    margin: 0 5px;
    border-radius: 10px;
    background: #FFF url('../images/filter_icon.png') top left no-repeat;
    -o-border-radius: 8px; 
    -icab-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; 
    outline-style: none;
    }

input#filter_text_input.blur {
    border-color: #CCC;
    }

/*------------
 *
 * L E G E N D
 *
 *------------*/

ul.show_legend {
    border: 1px solid grey;
}

ul.show_legend li {
    padding: 5px 5px 5px 5px;
    font-size: 12px;
}

/*-------------------------
 *
 * T O R R E N T   L I S T
 *
 * ------------------------*/

div#torrentlist_container {
    display: none;
    position: absolute;
    overflow: auto;
    width: 100%;
    top: 53px;
    bottom: 0;
    left: 0;
    right: 0;
}

div#torrentlist_container div.errorHeader {
    font-size: 1.0em;
    text-align: center;
    padding: 0.2em 0 0.2em 0;
    background: #CCFFCC;
    border-bottom: 1px solid #979797;
    border-right: 1px solid #979797;
    border-left: 1px solid #979797;
    color: #D6001A;
}

div#torrentlist_container div.header,
div.transmission div.header {
    font-size: 1em;
    padding: 0.2em 0 0.2em 0;
    text-align: center;
    background: #CCFFCC;
}

div#torrentlist_container div.header_hidden {
    border-bottom: 0px;
    color: #999;
}

div#torrentlist_container div.header td.hide_feed {
    text-align: center;
    width: 18px;
}

div#torrentlist_container div.header td.feed_title {
    text-align: center;
}

div#torrentlist_container ul.torrentlist {
    border-bottom: 1px solid #DDDDDD;
}

ul.torrentlist li.torrent {
    font-size: 0.9em;
}

ul.torrentlist li.torrent.alt {
    background-color: #F0F1F2;
}

ul.torrentlist li.torrent:hover,
ul.torrentlist li.torrent.alt:hover {
    background-color: #CCDEFF;
    opacity: .80;
}

li.torrent.hidden_bytext {
    display: none;
}

ul.torrentlist li.torrent.paused {
    background-color: #FBBFBF;
}

ul.torrentlist li.torrent.downloading {
    background-color: #f2e2ff;
}

ul.torrentlist li.torrent.verifying {
    background-color: #FFFFCC;
}

ul.torrentlist li.torrent.waiting {
    background-color: #FFFFFF;
}

ul.torrentlist p {
    padding: 1px;
}

ul.torrentlist td.buttons {
    border-bottom: 1px dotted #ccc;
    text-align: center;
    vertical-align: top;
    padding-top: 3px;
    width: 15px;
    height: 15px;
}

div#show_legend li.legend.match_nomatch,
ul.torrentlist td.buttons.match_nomatch {
    background-color: #fbbfbf;
}

div#show_legend li.legend.match_season,
ul.torrentlist td.buttons.match_season {
    background-color: #66cdaa;
}

div#show_legend li.legend.match_old_download,
ul.torrentlist td.buttons.match_old_download {
    background-color: #CDCDCD;
}

div#show_legend li.legend.match_match,
ul.torrentlist td.buttons.match_match {
    background-color: #FFCC66;
}

ul.torrentlist td.buttons.match_duplicate,
div#show_legend li.legend.match_old,
ul.torrentlist td.buttons.match_old {
    background-color: #CCCCFF;
}

div#show_legend li.legend.match_test,
ul.torrentlist td.buttons.match_test {
    background-color: #FFCCFF;
}

div#show_legend li.legend.match_cachehit,
ul.torrentlist td.buttons.match_cachehit,
ul.torrentlist td.buttons.match_downloaded,
ul.torrentlist td.buttons.match_downloading,
ul.torrentlist td.buttons.match_transmission {
    background-color: #CCFFCC;
}

ul.torrentlist td.buttons.left {
    padding-left: 4px;
}

ul.torrentlist td.buttons.right {
    padding-right: 5px;
}

ul.torrentlist td.torrent_name {
    padding: 5px 2px 5px 3px;
}

ul.torrentlist div.torInfo {
    color: green;
    font-size: 9px;
    margin-top: 2px;
}

span.torrent_name {
    margin-right: 5px;
}

td.torrent_name {
    vertical-align: middle;
}

td.feed_info {
    text-align: right;
    vertical-align: middle;
    padding: 1px 2px 1px 0;
}

span.dateAdded,
p.torrent_pubDate {
    padding-bottom: 1px;
    font-size: 10px;
}    

p.feed_name {
    padding-top: 1px;
    font-size: 9px;
    color: #777777;
}

span.hide_item img {
    border: 1px solid #b0b0b0;
}

div.header span.hide_feed_left,
div.header span.hide_feed_right {
    margin: 5px 0 5px 0;
    background: url(../images/arrow.png) no-repeat left center;
}

div.header_hidden span.hide_feed_left {
    background: url(../images/arrow-right.png) no-repeat left center;
}

div.header_hidden span.hide_feed_right {
    background: url(../images/arrow-left.png) no-repeat left center;
}

div#footer {
    padding: 2px;
    background-color: #DDD;
    font-size: 0.8em;
    text-align: center;
}

div#donate {
    padding-top: 3px;
    text-align: center;
}

/*--------------------------
 *
 * D I A L O G S
 *
 * ---------------------*/

div.dialog {
    display:		none;
    position:		absolute;
    left:		0px;
    right:		0px;
    top:		30px;
    bottom:		0px;
    background:		transparent;
    filter:		progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    zoom: 		1;
    background-color:	rgba(0, 0, 0, 0.7);
    cursor:		wait;
    padding-top:	60px;
    border-top:		1px solid #979797;
    z-index		0;
}

div.dialog_window {
    display: none;
    position: fixed; 
    margin-right: auto;
    left: 50%;
    background-color: #DDD;
    margin: -0.2em auto 0 auto;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797;
    top: 32px;
    width: 460px;
    margin-left: -230px;
    padding: 5px;
    cursor: default;
    }

div#clear_cache {
   position: fixed;
   width: 300px;
   margin-left: -150px;
}

div.move_data {
    position: inherit;
    padding: 5px 10px 0px 0px;
}

div.move_data input {
    float: none;
    font-size: 0.8em;
    width: 200px;
    margin: 0 0 0 0;
    padding: 0 2px 1px 2px;
}

div.move_data a {
    float: none;
    border: 1px solid grey;
    text-align: center;
    text-decoration: none;
    background-color: #EEE;
    font-size: 0.8em;
    color: #323232;
    margin: 0 0 0 5px;
    padding: 0 5px 1px 5px;
}

div.move_data a.close {
    width: 40px;
}

div.move_data a.button.close {
    width: 10px;
}

div.move_data label {
    margin: 0 0 0 2px;
}
    

h2.dialog_heading {
    font-size: 1.3em;
    text-align: center;
    }

div.buttonContainer {
    margin-top: 2px;
    float: right;
    }

a.button,
input[type=submit] {
    float: right;
    margin: .5em 1em 0 0;
    padding: .5em;
    background-color: #EEE;
    border: 1px solid #787878;
    font-size: 0.8em;
    color: #323232;
    clear: left;
    cursor: pointer;
}

a.button {
    width: 50px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 8px;    /* for Safari */
    -moz-border-radius: 8px;       /* for Firefox */
}

a.button:hover{
    background-color: #9DACC1;
    color: #fff;
}

a.disabled,
a.disabled:hover {
    background-color: #EEE;
    color: #CCCCCC;
}
input[type=submit] {
    width: 62px;
    height: 28px;
    }

div.legend input {
    clear: left;
    }
    
div#clientError {
    top: 55px;
    text-align: center;
    width: 450px;
    margin-left: -225px;
    
}

div#clientError h2 {
    font-weight: bold;
    color: red;
    margin-bottom: 4px;
}

div#errorDialog {
    top: 55px;
    color: red;
    text-align: center;
    width: 600px;
    margin-left: -310px;
    z-index: 100;
}

div#successDialog {
    top: 55px;
    color: green;
    text-align: center;
    width: 600px;
    margin-left: -310px;
    z-index: 100;
}

div#newVersion {
    top: 55px;
    color: green;
    text-align: center;
    width: 450px;
    margin-left: -225px;
    z-index: 100;
}

div#newVersion a {
    color: green;
}

div#fav_error {
    top: 55px;
    color: red;
    text-align: center;
    z-index: 100;
}

/********************************
 *
 * W I Z A R D   D I A L O G S
 *
 *******************************/
div.welcome {
    margin: -0.2em auto 0 -300px;
    width: 600px;
    border: 3px solid grey;
    z-index: 2;
    }

div.welcome input {
    clear: left;
    }

div#welcome1 label,
div#welcome5 label {
    margin-top: 0.2em;
    display: block;
    }
    
div.form_radio {
    padding-left: 10px;
    }

div.form_input {
    margin: 10px 0 10px 20px;
}

div.form_input input.form_downdir[type=text] {
    width: 200px;
    margin-left: 12px;
}

div#welcome5 input.form_email[type=text] {
    width: 300px;
    margin: 10px 0 10px 12px;
}


/***************************
 *
 * P R O G R E S S   B A R
 *
 ***************************/

.progress {
    position:           absolute;
    left:               0px;
    right:              0px;
    top:                0px;
    bottom:             0px;
    cursor:             wait;
    padding-top:        60px;
}

.progress_full { 
    z-index:		99;
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    zoom: 1;
    background-color:   rgba(0, 0, 0, 0.7);
}

#progressbar {
    background: #DBDBDB url('../images/ajaxload.gif') no-repeat center bottom;
    border-top: 1px solid #979797;
    display: block;
    height: 30px;
    top: 150px;
    overflow: hidden;
    z-index: 5;
    width: 300px;
    margin: -0.2em auto 0 -150px;
    }

#progressbar span {
    text-align: center;
    font-size: 1.2em;
    padding-left: 125px;
    }

/*****************************
 *
 * C O N F I G   D I A L O G 
 *
 ****************************/
 
ul#configTabs {
    margin: 0 0 0 0;
    padding: 2px 0px 2px 0px;
    text-align: center;
}

ul#configTabs li:hover {
    background-color: #9DACC1;
    color: #FFFFFF;
    opacity: .60;
}

ul#configTabs li.selTab {
    background-color: #9DACC1;
    color: #FFFFFF;
    opacity: 1;
}

ul#configTabs .toggleConfigTab {
    float: left;
    width: 50px;
    margin: 5px 0 0 0;
    padding: 1px 3px 2px 5px;
    background-color: #eee;
    border-left: 1px solid #979797;
    border-top: 1px solid #979797;
    font-size: 0.8em;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

ul#configTabs .left {
    border-top-left-radius: 	5px;
    -moz-border-radius-topleft: 5px;
}

ul#configTabs .right {
    border-right: 1px solid #979797;
    border-top-right-radius: 	5px;
    -moz-border-radius-topright: 5px;
}
    
div.dialog_window#configuration {
    margin-left: -225px;
    float: left;
    width: 460px;
}

div.dialog_window#configuration div.config_form input.text,
div.dialog_window#configuration div.config_form input.password,
div.dialog_window#configuration div.config_form input[type=text],
div.dialog_window#configuration div.config_form input[type=password] {
    position: absolute;
    left: 148px;
    width: 275px;
    padding-left: 3px;
}

div.dialog_window#configuration div.config_form select {
    position: absolute;
    left: 148px;
    width: 277px;
}

div.dialog_window#configuration div.config_form input[type=checkbox] {
    position: absolute;
    left: 148px;
}

div.config_form {
    border: 1px solid #979797;
    padding: 10px 0 5px 0;
    margin: 20px 0 0 0 ;
    background-color: #eee;
}

form#config_form div {
    min-height: 22px;
}

div#config_feeds {
    overflow: auto;
    border: 1px solid grey;
    margin-top: 20px;
    max-height: 300px;
    padding: 5px 0 5px 0;
    background-color: #eee;
}

div#addFeed {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}

div#feedItemTitles {
    margin: 3px 0 5px;
}

div#feedNameUrl {
    margin-left: 0;
    float: left;
    width: 315px;
}

div#addFeed input.feed_link[type=text] {
    width: 300px;
    margin: 0 0;
    padding: 3px;
    left: 87px;
}

div#addFeed a.button {
    margin: 0 10px 0 0;
    padding: 3px 0 3px 0;
}


div#config_feeds div.feeditem {
    height: 35px;
}

div#config_feeds div.feeditem label.item {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    padding: 5px;
}

div#config_feeds div.feeditem input[type=text] {
    width: 300px;
    margin: 3px 0;
    padding: 3px;
    left: 0px;
}

div#config_feeds div.feeditem input.feed_url[type=text],
div#config_feeds div.feeditem input.feed_name[type=text] {
    margin: 3px 0 0 10px;
}

div#config_feeds div.feeditem input.seed_ratio[type=text] {
    width: 2em;
    margin-left: 6px;
}

div#config_feeds div.feeditem a.button {
    width: 30px;
    margin: 3px 10px 0 0;
    padding: 3px 0 3px 0;
}

div#config_feeds div.feeditem a.button#Update {
    margin-right: 5px;
}

div#showURL {
    font-size: 0.9em;
}

div#showURL input[type=checkbox] {
    margin-left: 5px;
}

div#config_hideList ul.hidelist {
    background-color: #eee;
    border: 1px solid grey;
    max-height: 300px;
    overflow: auto;
    padding-bottom: 0;
    margin-top: 20px;
}

div#config_hideList ul.hidelist li {
     overflow: hidden;
}

div#config_hideList ul.hidelist li:hover {
    background-color: #9DACC1;
    color: #FFF;
}

div#config_hideList ul.hidelist input[type=checkbox] {
    margin: 0 5px 0 0;
}

div#linkButtons  {
    float: right;
}

/***********************************
 *
 * F A V O R I T E S   D I A L O G
 *
 **********************************/
div.dialog_window#favorites {
    width: 590px;
    margin-left: -287px;
    height: 247px;
}

div.favorite {
    height: 245px;
    width: 190px;
    float: left;
    clear: left;
    border: 1px solid grey;
    padding: 0 0 0 5px;
    background-color: #eee;
}

ul.favorite {
    height: 245px;
    font-size: 120%;
    overflow: auto;
}

div.favinfo {
    height: 245px;
    float: right; 
    clear: right;
    border: 1px solid grey;
    padding: 0px 0 0px 5px;
    width: 380px;
    background-color: #eee;
}

ul.favorite li {
    overflow: hidden;
    cursor: pointer;
    }

ul.favorite li a {
    vertical-align: top;
    font-size: 0.8em;
    text-decoration: none;
    color: #000000;
    overflow: hidden;
    }

ul.favorite li:hover {
    background-color: #9DACC1;
}

ul.favorite li:hover a {
    color: #FFF;
}

form.favinfo {
    height: 248px;
    display: none;
    padding: 5px 0;
    margin: 5px 0;
    width: 380px;
    float: right;
    }
form.favinfo div {
    height: 24px;
    }

form.favinfo #mode,
form.favinfo input#idx {
    display: none;
    }

form.favinfo select {
    position: absolute;
    right: 25px;
    width: 262px;
}

form.favinfo input.text,
form.favinfo input[type=text] {
    position: absolute;
    right: 25px;
    width: 260px;
}

form.favinfo div.favorite_seed_and_episode {
     position: absolute;
     float: right;
     right: 25px;
     width: 360px;
}

form.favinfo label.lastSeason {
    position: absolute;
    right: 70px;
    top: 2px;
    margin-left: 0;
}

form.favinfo label.lastEpisode{
    position: absolute;
    right: 30px;
    top: 2px;
    margin-left: 0;
}

form.favinfo input.seedratio[type=text] {
    position: absolute;
    right: 240px;
    width: 20px;
    text-align: center;
}

form.favinfo input.lastSeason[type=text] {
    position: absolute;
    right: 40px;
    width: 20px;
    text-align: center;
}

form.favinfo input.lastEpisode[type=text] {
    position: absolute;
    right: 0;
    width: 25px;
    text-align: center;
}

div.favinfo div.buttonContainer {
    position: absolute;
    top: 210px;
    right: 75px;
}

div#favClose {
    right: 3px;
}

/**********************************
 *
 * B U G  R E P O R T   D I A L O G
 *
 **********************************/
 
div#report_bug {
    width: 420px;
}

form#report_form div {
    min-height: 22px;
}

div#report_bug textarea {
    resize: vertical;
    float: right;
    width: 300px;
}

div#report_bug select,
div#report_bug input[type=text] {
    float: right;
    width: 300px;
}

div#report_bug input[type=submit] {
    height: 25px;
}

/******************************
 *
 * H I S T O R Y   D I A L O G
 *
 *****************************/
div#history {
    height: 257px;
    }

ul#historyItems {
    top: 0;
    bottom: 35px;
    left: 0;
    right: 0;
    height: 222px;
    overflow: auto;
    border-bottom: 1px solid #979797;
    padding: 2px 0 0 10px;
    }

div#history ul li{
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.9em
    }


div#history a {
    bottom: 0.2em;
    }

div#history a#clearhistory {
    right: 0;
    }

div#history a.toggleDialog {
    right: 6.5em;
    }

/*-----------------
 *
 * O L D   C S S   S T U F F
 *
 * ----------------*/


.clear { clear: both; }

div.dialog_window#history {
    width: 583px;
    margin-left: -288px;
}

div.timer {
    font-size: 8pt;
    text-align: right;
    margin-right: 5px;
    bottom: 0;
    right: 0;
}


.favorite li {
    background: url(../images/favorites.png) no-repeat left center;
    height: 20px;
    margin-bottom: 5px;
    padding-left: 24px;
    overflow: hidden;
}

