;;
;; torrentwatch config file
;;

[Settings]
Transmission Login =
Transmission Password =
Transmission Host = localhost
Transmission Port = 9091
Transmission URI = /transmission/rpc
Watch Dir =
Download Dir = /share/Download/
Cache Dir = /share/Apps/Torrentwatchx/rss_cache/
Save Torrents =
Run Torrentwatch = True
Client = Transmission
Verify Episode = 1
Only Newer = 1
Default Feed All =
Deep Directories = 0
Combine Feeds =
Require Episode Info =
Disable Hide List =
History = /share/Apps/Torrentwatchx/rss_cache/rss_dl.history
MatchStyle = simple
FirstRun =
Extension = torrent
verbosity = 0
Default Seed Ratio = -1
Script =
Email Notifications =
Email Address =


[Feeds]
0[] = Link => http://ezrss.it/feed/
0[] = Type => RSS
0[] = seedRatio => -1
0[] = Name => ezRSS - Latest torrent releases
1[] = Link => http://rss.bt-chat.com/?group=2&cat=9
1[] = Type => RSS
1[] = seedRatio => -1
1[] = Name => BT-Chat.com


[Favorites]


[Hidden]
