<?php
require_once("config_lib.php");

// You may change these defaults to fit your personal situation.

//Config File Loaction.
function platform_getConfigFile() {
  return "/etc/torrentwatch/torrentwatch.config";
}

//TorrentWatch-X install directory
function get_base_dir() {
    return "/var/www/torrentwatch-x";
}

//Transmission session-id cache file
function get_tr_sessionIdFile() {
    return '/tmp/.Transmission-Session-Id';
}

?>
